{% extends "base_register_login.html" %}
{# فرم مربوط به ثبت نام کاربر جدید در وب سایت. #}
{% block formblock %}
<form class="user" method="POST">
    {{form.hidden_tag()}}
    {% if form.email.errors %}
    <div class="form-group">
        {{form.email(class='form-control form-control-user is-invalid ',placeholder='Enter Email Address...')}}
    </div>
    {% for errors in form.email.errors %}
    <div class="is-invalid ml-3 mb-3 text-danger">{{errors}}</div>
    {% endfor %}
    {% else %}
    <div class="form-group">
        {{form.email(class='form-control form-control-user',placeholder='Enter Email Address...')}}
    </div>
    {% endif %}
    <div class="form-group">
        {% if form.password.errors %}
        {{form.password(class="form-control form-control-user is-invalid",placeholder="Password")}}
        {% for errors in form.password.errors %}
        <div class="is-invalid ml-3 mb-3 text-danger">{{errors}}</div>
        {% endfor %}
        {% else %}
        {{form.password(class="form-control form-control-user",placeholder="Password")}}
        {% endif %}
        
    </div>
    {{form.submit(class='btn btn-primary btn-user btn-block')}}
</form>

{% endblock formblock %}

{% block afterhr %}
<div class="text-center">
    <a class="small" href="forgot-password.html">Forgot Password?</a>
</div>
<div class="text-center">
    <a class="small" href="{{url_for('users.login_view')}}">Already have an account? Login!</a>
</div>
{% endblock afterhr %}